/RestFul Booker Api Tests/RestFul Booker Api Tests/obj
/RestFul Booker Api Tests/.vs
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin/Debug/net8.0/.playwright/package/bin
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin/Debug/net8.0/.playwright/package/lib/cli
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin/Debug/net8.0/.playwright/package/lib/client
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin/Debug/net8.0/.playwright/package/lib/generated
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin/Debug/net8.0/.playwright/package/lib/common
/RestFul Booker Api Tests/RestFul Booker Api Tests/bin
